{
    "extends": "airbnb-base",
    "env": {
      "jest": true
    },
    "rules": { 
        "import/extensions": "off",
        "no-underscore-dangle": "off",
        "no-throw-literal": "off",
        "no-shadow": "off",
        "no-default-export": "off"
    }
}